@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');



/* RESET PADRÃO DO NAVEGADOR*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*formatação do body, mudando a cor do fundo da pagina e adicionando padding no top para tirar o conteudo de tras do menu*/
body{
    background-color: rgb(241, 237, 237);
    padding-top: 150px;
}


/*formatação do cabeçalho, colocando tudo na mesma linha, centralizando, mudando cor do fundo, definindo posição fixa do menu
e definindo largura e altura*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 182, 0);
    position: fixed;
    width: 100vw;
    height: 150px;
    top: 0;
    left: 0;
}

/*formatação da logo(h1), alterando tamanho da fonte, cor das letras, centralizando e mudando o tipo da fonte*/
#logo-marca > h1{
    font-size: 45px;
    color: rgb(66, 65, 65);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

/*formatação da logo, colocando cor branca no "blog" */
#texto-branco{
    color: white;
}

/*formatação as opções do menu, colocando tudo na mesma linha, espaçando e removendo as conf de lista*/
#lista-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
    font-family: 'Poppins', sans-serif;
}

/*formatação as opções do menu, colocando tudo com letras maiusculas, margin no topo, tamanho e cor da letra*/
#lista-menu > li{
    font-size: 17px;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
}

/*formatação os links das opções do menu, removendo conf de link e colocando cor branca nas letras */
#lista-menu > li >a{
    text-decoration: none;
    color: white;
}

/*formatação os links das opções do menu, colocando efeito hover(ao passar o mouse) */
#lista-menu > li >a:hover{
    background-color: white;
    color:rgb(247, 182, 0);
    padding: 1px;
    border-radius: 5px;
}

/*formatação midia social - facebook, instagram e twitter, colocando tudo na mesma linha, centralizando na horizontal e vertical
removendo conf de lista, espaçamento latera, margin no topo e efeito cursor pointer (ao passar o mouse)*/
#lista-midia-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin-top: 15px;
    cursor: pointer;
}

/*formatação midia social - facebook, instagram e whatsapp, definindo tamanho das imagens */
.img-social{
    width: 30px;
}

/*formatação de todos os links da pagina que não possuem formatação mais especifica*/
a{
    color: rgb(247, 182, 0);
}

/* formatação dos conteudos principais, colocando as postagens principais e a barra lateral uma ao lado da outra,
definindo largura, centralizando com margem automatica e margem*/
#postagem-principal{
    display: flex;
    flex-direction: row;
    width: 920px;
    margin: auto;
    margin-top: 15px;
}

/* formatação da postagem 1, definindo fundo branco, margin na direita e espaçamento dentro da caixa*/
#postagem-1 {
    background-color: white;
    margin-right: 20px;
    padding: 20px;
}

/* formatação de todas outras postagens , definindo fundo branco, margin na direita e espaçamento dentro da caixa*/
.postagem{
    background-color: white;
    margin-right: 20px;
    padding: 20px;
    margin-top: 20px;
}

/* formatação dos titulos das postagens*/
.postagem > h1{
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: rgb(247, 182, 0);
}

/* formatação dos paragrafos de todas as postagens, alterando tipo da fonte*/
.postagem > p{
    font-family: 'Montserrat', sans-serif;
}

/*formatação das imagens das postagens*/
.postagem > img {
    width: 600px;
    padding-top: 25px;
}

/*formatação da barra lateral, definindo cor de fundo, margem em baixo e espaçamento dentro da caixa*/
#postagens-recentes{
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 20px;
}

/*formatação do subtitulo das postagens recentes, colocando fundo cinza, mudando cor da letra, espaçamento dentro da caixa,
margem em baixo, mudando tipo da fonte e alterando tamanho da fonte*/
#postagens-recentes > h2{
    background-color: rgb(189, 188, 188);
    color: rgb(85, 85, 85);
    padding: 3px;
    margin-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 23px;
}

/*formatação do paragrafo das postagens recentes, alterando tipo de fonte, e espaçamento denro da caixa*/
#postagens-recentes > p{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*formatação do segundo paragrafo das postagens recentes, criando uma borda superior*/
#paragrafo-2{
    border-top: 2px solid rgb(189, 188, 188);
    margin-top: 5px;
}

/*formatando links das postgens recentes, mudando cor das letras e tirando conf dos links*/
#postagens-recentes > a{
    text-decoration: none;
    color:rgb(247, 182, 0);
}

/*formatando a barra lateral de categorias, colocando cor no fundo, margem na direita, espaçamento dentro da caixa e 
defindo largura*/
#categorias{
    background-color: white;
    margin-right: 20px;
    padding: 10px;
    width: 240px;
}

/*formatando o subtitulo na barra lateral de categorias, colocando cor no fundo, espaçamento dentro da caixa, margem em baixo,
mudando tipo da fonte e alterando tamanho da fonte*/
#categorias > h2{
    background-color: rgb(189, 188, 188);
    color: rgb(85, 85, 85);
    padding: 3px;
    margin-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 23px;
}

/*formatando a lista da categoria*/
#lista-categoria{
    list-style: none;
}

/*formatando cada opção da lista da categoria, mudando tipo de fonte*/
#lista-categoria > li{
    font-family: 'Poppins', sans-serif
}

/*formatando links da categoria, tirando conf de links e alterando a cor das letras*/
#lista-categoria > li > a{
    text-decoration: none;
    color: rgb(247, 182, 0);

}

/*formatando o roda pé, colocando uma cor de fundo, mudando a cor da letra, margem no topo, centralizando texto e alterando
o tamanho da fonte*/
footer{
    background-color: rgb(247, 182, 0);
    color: rgb(85, 85, 85);
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    
}

/* marcando paginas selecionadas*/
.page-marcada{
    background-color: white;
    color:rgb(247, 182, 0) !important;
    padding: 1px;
    border-radius: 5px;
}

/*responsivo*/
@media (max-width: 920px){
    #barra-lateral{
        display: none;
    }

    #postagem-principal{
        display: flex;
        flex-direction: row;
        width: 600px;
        margin: auto;
        margin-top: 15px;
        margin: 0;
    }

    .postagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #postagem-1{
        margin: 0;
    }

    footer{
        margin: 0;
    }
}

/*responsivo*/
@media (max-width: 660px){

    #postagem-principal{
        display: flex;
        flex-direction: row;
        width: 480px;
        margin: auto;
        margin-top: 15px;
        margin: 0;
        padding: 0;
    }

    .postagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin: auto;
    }

    .postagem > img{
        width: 400px;
    }

    #postagem-1{
        margin: 0;
    }

    footer{
        margin: 0;
    }
}

